## Introduction To Tuples

### Explanation:
Tuples are ordered collections of items that are immutable. They are simiar to lists, but their immutability makes them different.

In [1]:
## Creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list() ## Create list
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5,6])
print(numbers)

(1, 2, 3, 4, 5, 6)

In [4]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [5]:
##Accessing Tuple elements
print(numbers[0])

1

In [6]:
numbers[0:4]

(1, 2, 3, 4)

In [7]:
numbers[::]

(1, 2, 3, 4, 5, 6)

In [8]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [12]:
## Tuple Operations
concat_tuple=mixed_tuple+numbers
print(concat_tuple)

(1, 'Hello World', 3.14, True, 1, 2, 3, 4, 5, 6)

In [13]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [16]:
## Immutable nature of tuples
## Tuples are immutable meaning their elements cannot be changed once assigned.
lst=[1,2,3,4,5]
print(lst)
lst[0]="Sidak"
print(lst)

[1, 2, 3, 4, 5]
['Sidak', 2, 3, 4, 5]

In [ ]:
numbers[1]="Sidak" ## Error

TypeError: 'tuple' object does not support item assignment

In [19]:
## tuple Methods
print(numbers.count(1))  # Count occurrences of an element
print(numbers.index(3))  # Find the index of an element

1
2

In [ ]:
## Packing and Unpacking tuple
##Packing a tuple
packed_tuple=1,"Hello",3.14,True
print(packed_tuple)

(1, 'Hello', 3.14, True)

In [21]:
## Unpacking a tuple
a,b,c,d= packed_tuple
print(a)  # 1
print(b)  # Hello
print(c)  # 3.14
print(d)  # True

1
Hello
3.14
True

In [22]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)   # 1
print(middle)  # [2, 3, 4, 5]
print(last)    # 6

1
[2, 3, 4, 5]
6

In [26]:
## Nested Tuple

##Nested List
lst=[[1,2,3],[4,5,6],[7,8,9]]
lst[0][2]
lst[0][0:3]

[1, 2, 3]

In [27]:
lst=[[1,2,3],[4,5,6],(7,8,9)]
lst[2][0]

7

In [28]:
nested_tuple=((1,2,3),(4,5,6),(7,8,9))
print(nested_tuple[0][2])  # Accessing element 3 from the first tuple
print(nested_tuple[1][0:3])  # Accessing elements 4, 5, 6 from the second tuple

3
(4, 5, 6)

In [30]:
## iterating over nested tuple
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=' ')
    print()

1 2 3
4 5 6
7 8 9

#### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.